@font-face {
  font-family: 'Arabic Font';
  src: local('Arslan'), url('./fonts/\(A\)\ Arslan\ Wessam\ A\ \(A\)\ Arslan\ Wessam\ A.ttf') format('truetype');
}

body{
  font-family: 'Times New Roman', Times, serif;
}